.cakepop-main {
	position:absolute;
	left:10%;
	top: 150px;

	img {
		height:300px;
		width:300px; 
		padding:20px;
	}

	img:hover{
	 cursor: pointer;
	}

	.cakepop-image {
		display:inline-block;
	}

	.cakepop-image: hover {

	}
}

#existing_designs {
	text-align: center; 
	font-weight:bold;
}

.photo-grid figure {
	height: 280px;
	overflow: hidden;
	position: relative;
	width: 280px;
}

.photo-grid figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: table;
	height: 100%;
	left: 19px;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 20px;
	z-index: 100;
}
 
.photo-grid figcaption p {
	display: table-cell;
	font-size: 1.5em;
	position: relative;
	top: -40px;
	width: 289px;
	vertical-align: middle;
}

.photo-grid li:hover figcaption {
	opacity: 0.4;
}





