.cakepop-main {
	position:absolute;
	left:10%;

	img {
		height:300px;
		width:300px; 
		padding:20px;
	}

	.cakepop-image {
		display:inline-block;
	}
}

#existing_designs {
	text-align: center; 
	font-weight:bold;
}