$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";
$green: #6EF4AB;
$light-pink: #F8BCBC;
$pink: #E75C83;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import 'home/home.scss';
@import 'create/existing/existing.scss';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.background {
  background-image: url('../assets/images/home/pops_background.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.5;
}

.custom-nav {
  margin: 0px;
  .navbar-brand {
    color: $pink;
  }
  .navbar-brand:hover {
    color: $light-pink;
  }
}
// Component styles are injected through grunt
// injector
@import 'create/existing/existing.scss';
@import 'home/home.scss';
@import 'modal/modal.scss';
// endinjector
