$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";
$green: #6EF4AB;
$light-green: #e2fcee;
$dark-green: #58c388;
$light-pink: #F8BCBC;
$pink: #E75C83;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import 'home/home.scss';
@import 'create/existing/existing.scss';
@import 'create/design/design.scss';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
  background-image: url('../assets/images/home/light_sprinkles.jpg');
  background-size: cover;
}
.custom-nav {
  margin: 0px;
  .navbar-brand {
    color: $pink;
  }
  .navbar-brand:hover {
    color: $light-pink;
  }
}

.facebook {
  background-color: #3B5998;
  color: white;
  margin: 8px;
}

.facebook:hover {
  background-color: #3B5998;
  color: white;
  opacity: 0.75;
  margin: 8px;
}

.sweetBites {
  background-color: $green;
  color: $pink;
  margin: 8px;
}

.sweetBites:hover {
  background-color: $green;
  color: $pink;
  opacity: 0.75;
  margin: 8px;
}

.footer {
  position: fixed;
  bottom: 0px;
  opacity: 0.9;
  color: white;
  background-color: $light-green;
  padding-top: 5px;
  width: 100%;

  a {
    display: table;
    margin: 0 auto;
    color: $pink;
  }
}
// Component styles are injected through grunt
// injector
@import 'create/design/design.scss';
@import 'create/existing/existing.scss';
@import 'create/form/form.scss';
@import 'home/home.scss';
@import 'modal/modal.scss';
// endinjector
