.text-group {
	width: 400px;
}

.number-group {
	input {
		width: 50px;
	}
}

#submit-button {
	margin-top: 10px;
}

#request-form {
	position:absolute;
	top: 150px;
	left:38%
}

.text-area {
  display: block;
  width: 100%;
  height: 50px;
}