<div ng-controller="HomeCtrl as ctrl">
  <div class="pop-carousel">
    <carousel interval="0">
      <slide ng-repeat="slide in ctrl.slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto">
        <div class="carousel-caption carousel-bar">
          <h4>{{slide.title}}</h4>
          <button type="button"
                  class="btn btn-primary"
                  ng-model="singleModel"
                  btn-checkbox
                  btn-checkbox-true="1"
                  btn-checkbox-false="0"
                  ui-sref="{{slide.link}}">
            Go!
          </button>
        </div>
      </slide>
    </carousel>
  </div>
</div>
